<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/nhan-vien/add" method="post">
    ma: <input name="ma" type="text"> <br>
    ten: <input name="ten" type="text"> <br>
    ngaySinh: <input name="ngaySinh" type="date"> <br>
    gioi tinh:
    Nam<input name="gioiTinh" type="radio" value="true">
    Nu<input name="gioiTinh" type="radio" value="false"> <br>
    Chuc vu:
    <select name="chucVu">
        <option th:each="chucVu :${listChucVu}"
        th:value="${chucVu.id}"
        th:text="${chucVu.ten}"></option>
    </select>
    <button type="submit">add</button>
</form>
    <table border="1">
        <thead>
        <tr>
            <th>STT</th>
            <th>ma</th>
            <th>ten</th>
            <th>ngay sinh</th>
            <th>gioitinh</th>
            <th>ten chuc vu</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nhanVien : ${listNhanVien}">
            <td th:text="${nhanVien.id}"></td>
            <td th:text="${nhanVien.ma}"></td>
            <td th:text="${nhanVien.ten}"></td>
            <td th:text="${nhanVien.ngaySinh}"></td>
            <td th:text="${nhanVien.gioiTinh}"></td>
            <td th:text="${nhanVien.chucVu.ten}"></td>
            <td>
                <a th:href="@{|/nhan-vien/delete/${nhanVien.id}|}">delete</a>
                <a th:href="@{|/nhan-vien/detail/${nhanVien.id}|}">detail</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>